.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: antiquewhite;
    border-bottom: 1px solid black;
    position: fixed; /* Make the navbar fixed */
    top: 0;
    width: 95%;
    z-index: 1000; /* Ensure it stays on top of other elements */
}

.logo {
    width: 100px;
}

.nav-items > ul {
    font-size: 24px;
    padding: 0px 20px;
    display: flex;
    list-style-type: none;
    margin: 0;
    background-color: rgb(153, 187, 217);
    border-radius: 8px;
    justify-content: space-between;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effects */
}

.nav-items > ul > li:hover {
    background-color: #007bff; /* Dynamic background color on hover */
    color: white; /* Text color on hover */
    border-radius: 5px; /* Rounded corners on hover */
}

.res-card {
    margin-left: 10px;
    margin-right: 15px;
    padding: 3px;
    width: 280px;
}

.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px; /* Add margin to avoid content being hidden behind the fixed navbar */
}

.Search {
    padding: 10px;
}

.res-logo {
    width: 100%;
}

.resta-logo {
    width: 100%;
    height: 50%;
}

.filter-btn {
    font-size: 20px;
    margin: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(155, 206, 206);
    border-radius: 5px;
}

.filter-btn:hover {
    border: 1px solid black;
}

.Shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    height: 400px;
    width: 200px;
    margin: 20px;
}

.Login {
    padding: 0 20px;
    cursor: pointer;
}

.Search {
    display: flex;
}
/* resturant  menu */
.restaurant-menu-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 80px; /* Adjust this value based on your navbar height */
}

.restaurant-header {
    background-color: #f8f8f8;
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.restaurant-name {
    font-size: 24px;
    margin-bottom: 10px;
}

.restaurant-details {
    display: flex;
    justify-content: space-between;
    color: #666;
}

.menu-items-container {
    padding: 20px;
}

.menu-items-list {
    list-style-type: none;
    padding: 0;
}

.menu-item {
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 0;
}

.item-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.item-name {
    font-weight: bold;
}

.item-description {
    color: #666;
    font-size: 14px;
}